
body {
  background-image: url("./background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#body {
  font-size: medium;
}
#i2 {
  font-size: 20;
  font-family: "Lucida console";
}
#cover{
    float: left;
}
